body{
    background-image:url("nature.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}
.heading1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5em;
    color:white;
    padding: 5px;
    border-radius: 3px;
    height: auto;
}
.heading1:hover a{
    padding: 5px;
    border-radius: 3px;
    color: black;
}


.btn{
    align-items: center;
}
li{
    display: inline;
}
.item{
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.container {
    display: flex;  
    justify-content: center;  
    align-items: center;  
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.img-btn{
    height: 50px;
    width: 50px;
}
p{
    text-align: center;

    color: whitesmoke;
}
.div1{
    justify-content: center;
    text-align: center;
}
h1{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 0.3em;
}
h3{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 0.3em;
}
a{
    text-decoration: none;
    color: whitesmoke;
    transition: .4s ease-out;
}
a:links{
    color: whitesmoke;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
}
ul li a{
    padding: 5px;
    background-color: none;
    border-radius: 2px;
}
@media screen and (max-width: 360px){
    .nav-menu{
    width: 100%;
    height: 100px;
    padding: 5px;
    }
    ul li a{
        font-size: 12px;
        width: 200px;
        height: 40px;
        margin: 0px;

    }
    .heading1{
        width: 10px;
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
}
@media screen and (max-width: 375px){
    .nav-menu{
    width: 100%;
    height: 100px;
    padding: 5px;
    }
    ul li a{
        font-size: 13px;
        width: 200px;
        height: 40px;
        margin: 0px;

    }
    .heading1{
        width: 10px;
        font-size: 13px;
    }
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 412px){
    .nav-menu{
    width: 100%;
    height: 100px;
    padding: 5px;
    }
    ul li a{
        font-size: 13px;
        width: 200px;
        height: 40px;
        margin: 0px;

    }
    .heading1{
        width: 10px;
        font-size: 14px;
    }
    h1{
        font-size: 27px;
    }
    h3{
        font-size: 22px;
    }
}
@media screen and (max-width: 490px){
    .nav-menu{
    width: 100%;
    height: 100px;
    padding: 5px;
    }
    ul li a{
        font-size: 13px;
        width: 200px;
        height: 40px;
        margin: 0px;

    }
    .heading1{
        width: 10px;
        font-size: 13px;
    }
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 350px){
    .nav-menu{
    width: 100%;
    height: 100px;
    padding: 5px;
    }
    ul li a{
        font-size: 8px;
        width: 200px;
        height: 40px;
        margin: 0px;

    }
    .heading1{
        width: 10px;
        font-size: 8px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
}